# Dependências
node_modules/

# Build
.next/
out/
build/

# Variáveis de ambiente (NUNCA commitar)
.env
.env.local
.env.*.local
.env.production

# Prisma gerado
prisma/generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp

# Uploads locais de desenvolvimento
public/dev-storage/

# Arquivos de mídia grandes / fora do app
*.rar
*.mp4

.vercel
*.tsbuildinfo
